p.arial { font-family: 'Arial'; }
p.arialblack { font-family: 'Arial Black'; }
p.comicsansms { font-family: 'Comic Sans MS'; }
p.courriernew { font-family: 'Courier New'; }
p.georgia { font-family: 'Georgia'; }
p.impact { font-family: 'Impact'; }
p.timesnewromain { font-family: 'Times New Roman'; }
p.trebuchetms { font-family: 'Trebuchet MS'; }
p.verdana { font-family: 'Verdana'; }